<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>accentista.py</string>
			<key>preferredName</key>
			<string>Accentista</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>David Jonathan Ross and Petr van Blokland</string>
	<key>developerURL</key>
	<string>http://www.fontbureau.com</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Accentista</string>
	<key>timeStamp</key>
	<real>1</real>
	<key>version</key>
	<string>1.0</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>FontBureau/fbOpenTools</string>
		<key>summary</key>
		<string>Overlay combining or floating accents over the Current Glyph, based on the name and position of the anchors.</string>
	</dict>
</dict>
</plist>
