<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>David Jonathan Ross</string>
	<key>developerURL</key>
	<string>http://www.fontbureau.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>showMouseCoordinates.py</string>
	<key>name</key>
	<string>Show Mouse Coordinates</string>
	<key>timeStamp</key>
	<real>1685896641</real>
	<key>version</key>
	<string>1.1</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>FontBureau/fbOpenTools</string>
		<key>summary</key>
		<string>Get a readout of information about the mouse: its current position, how far it has been dragged, the dragging angle, and the dragging distance.</string>
	</dict>
</dict>
</plist>
