<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>nestInSubmenus</key>
			<true/>
			<key>path</key>
			<string>ItalicBowtie.py</string>
			<key>preferredName</key>
			<string>Italic Bowtie</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>David Jonathan Ross and Cyrus Highsmith</string>
	<key>developerURL</key>
	<string>http://www.fontbureau.com</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Italic Bowtie</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>timeStamp</key>
	<real>1636728051.4429052</real>
	<key>version</key>
	<string>1.3</string>
</dict>
</plist>
