<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>David Jonathan Ross</string>
	<key>developerURL</key>
	<string>http://www.fontbureau.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>showDelta.py</string>
	<key>name</key>
	<string>ShowDelta</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>timeStamp</key>
	<real>1361991980.1045799</real>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
